html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  color: inherit; 
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  font-size: 12px;
  background-color: #F2F2F2;  
}

.portfolio {
  background-color: #2d303a;
  padding: 67px 40px 67px 40px;
  overflow: hidden;
  border-bottom: solid 6px #323746;
}

.portfolio-header__title {
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 30px;
  line-height: 25.86px; 
  color: #666D89;
}

.portfolio-header__text {
  padding-top: 22px;
  font-family: 'Lato Light', Arial, sans-serif;
  color: #767e9e;
  font-size: 18px;
  letter-spacing: -0.22px;
  line-height: 32px;
  text-align: justify;
}

.portfolio-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 9px;
}
.portfolio-nav__button {
  height: 22px;
  display: block;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  outline: none;
  padding: 6px 7px 5px 8px;
  margin-bottom: 19px;
}

.portfolio-nav__button:nth-child(1) {
  margin-right: 10px;
  padding: 6px 7px 5px 8px;
}
.portfolio-nav__button:nth-child(2) {
  margin-right: 10px;
  padding: 6px 5px 5px 6px;
}
.portfolio-nav__button:nth-child(3) {
  margin-right: 10px;
  padding: 6px 5px 5px 6px;
}
.portfolio-nav__button:nth-child(4) {
  margin-right: 10px;
  padding: 6px 7px 5px 5px;
}
.portfolio-nav__button:hover {
  background-color: #6d7ca8;
  outline: none;
}
.portfolio-nav__button:active {
  filter: saturate(200%);
  outline: none;
}
.portfolio-nav__button__text {
  display: block;
  text-align: center;
  font-family: 'Lato Regular', Arial, sans-serif;
  color: #676f8d;
  font-size: 12px;
  font-weight: 400;
  line-height: 9px;
}
.portfolio-nav__button:hover .portfolio-nav__button__text {
  color: rgba(255, 255, 255, 0.623);
}

.portfolio-examples {
  overflow: hidden;
  height: 601px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
.portfolio-examples__photo {
  display: block;
  grid-area: 1 / 1 / 1 / 1;
}

.about-us {
  padding: 66px 40px 67px 40px;
  border-bottom: solid 6px #FFFFFF;
}

.about-us__title {
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 30px;
  line-height: 25.86px; 
  color: #666D89;
  letter-spacing: -0.5px;
}
.about-us__text {
  padding-top: 22px;
  font-family: 'Lato Light', Arial, sans-serif;
  color: #767e9e;
  font-size: 18px;
  letter-spacing: -0.21px;
  line-height: 31px;
  text-align: justify;
}
.about-us-people {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
}
.about-us-people__item {
  width: 300px;
}
.about-us-people__item__userpic {
  margin-bottom: 19px;
}
.about-us-people__item__name {
  color: #666d89;
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 18px;
  line-height: 8.86px;
  letter-spacing: 0px;
  margin-bottom: 17px;
}
.about-us-people__item__text {
  font-family: 'Lato Regular', Arial, sans-serif;
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  margin-bottom: 25px;
}
.about-us-people__item__social {
  padding: 1px;
  width: 155px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-people__item__social__links img:hover {
  background-color: #B2C1F0;
  border-radius: 50%;
}
.about-us-people__item__social__links img:active {
  filter: saturate(250%);
  border-radius: 50%;
}