html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
textarea,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  color: inherit; 
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  font-size: 12px;
  background-color: #F2F2F2;  
}

.contact {
  background-color: #F06C64;
  padding: 67px 40px 13px 40px;
  border-bottom: solid 6px #EA676B;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact__title {
  font-family: 'Lato Black', Arial, sans-serif;
  line-height: 24.86px; 
  color: #f0d8d9;
  font-size: 30px;
  letter-spacing: -0.6px;
}

.contact__text {
  padding-top: 25px;
  font-family: 'Lato Light', Arial, sans-serif;
  letter-spacing: -0.21px;
  text-align: justify;
  color: #f0d8d9;
  font-size: 18px;
  line-height: 30px;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: row;
}

.contact-form {
  width: 620px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form__input {
  padding-left: 14px;
  height: 38px;
  background-color: #d6564f;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.contact-form__input:focus {
  background-color: #a0443f;
}

.contact-form__input:focus::placeholder {
  background-color: #a0443f;
}

.contact-form__input--textarea {
  height: 202px;
  padding-top: 13px;
}

.contact-form__input::placeholder {
  background-color: #d6564f;
  color: #f48c8f;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.contact-form__input::placeholder:focus {
  background-color: #a0443f;
}

.contact-form__input:invalid {
  border: 2px solid #FF0800;
}

.contact-form__submit {
  margin: 0 auto;
  width: 200px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 13px;
  background-color: #F0D8D9;
}

.contact-form__submit:hover {
  background: #a0443f;
}

.contact-form__submit:active {
  background: rgb(148, 43, 37);
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 20px;
}

.contact-info__title {
  font-family: 'Lato Black', Arial, sans-serif;
  color: #f0d8d9;
  font-size: 19px;
  letter-spacing: -0.7px;
}

.contact-info__text {
  padding-top: 6px;
  font-family: 'Lato Regular', Arial, sans-serif;
  letter-spacing: -0.59px;
  color: #f0d8d9;
  font-size: 13px;
  line-height: 22px;
  text-align: justify;
}

.contact-info__links {
  padding-top: 22px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato Regular', Arial, sans-serif;
  letter-spacing: -0.2px;
  color: #f0d8d9;
  font-size: 12px;
  line-height: 22px;
}
.contact-info__links__item {
  position: relative;
}

.location:before {
  content: "";
  display: block;
  width: 7px;
  height: 11px;
  position: absolute;
  background-image: url(assets/images/location.png);
  top: 5px;
  left: -21px;
}

.call:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  background-image: url(assets/images/call.png);
  top: 4px;
  left: -23px;
}

.mail:before {
  content: "";
  display: block;
  width: 13px;
  height: 8px;
  position: absolute;
  background-image: url(assets/images/mail.png);
  top: 7px;
  left: -24px;
}

.footer { 
  background-color: #2D303A;
  padding: 23px 40px 21px 42px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer__copyright {
  color: #666D89;
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: -0.12px;
  align-self: center;
}

.footer__social-icons {
  height: 32px;
  width: 152px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__social-icons__social__links a {
  display: block;
  width: 32px;
  height: 32px;
}
.footer__social-icons__social__links img:hover {
  background-color: #B2C1F0;
  border-radius: 50%;
}
.footer__social-icons__social__links img:active {
  filter: saturate(250%);
  border-radius: 50%;
}