html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
textarea,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  color: inherit; 
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  font-size: 12px;
  background-color: #F2F2F2;  
}

.header {
  padding: 0 40px;
  height: 95px;
  text-transform: uppercase;
  background-color: #2D303A;
  border-bottom: solid 6px #323746;
  display: flex;
  justify-content: space-between;
}

.wrapper-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
	width: 115px;
	font-family: 'Lato Bold', Arial, sans-serif;
	letter-spacing: -0.1px;
	margin-top: 4px;
	font-size: 12px;
}

.header-logo__title {
  color: #FFFFFF;
}

.header-logo__title span {
  color: #F06C64;
}

.header-logo:hover .header-logo__title {
  color: #F06C64;
  transition: all 0.4s ease-out;
}

.header-logo:hover .header-logo__title span {
  color: #FFFFFF;
  transition: all 0.4s ease-out;
}

.header-logo:active .header-logo__title {
  color: #F06C64;
  transition: all 0.4s ease-out;
  transform: scale(0.9);
}

.header-logo:active .header-logo__title span {
  color: #FFFFFF;
  transition: all 0.4s ease-out;
  transform: scale(0.9);
}

.header-navigation__list {
  width: 371px;
  margin-top: 13px;
  font-family: 'Lato Bold', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  transform: scale(1);
}

.header-navigation__item--dot {
  color: #616679;
  opacity: 0.5;
}

.header-navigation__item {
  color: #FFFFFF;
}

.header-navigation__item:hover {
  transform: scale(1.2);
  transition: all 0.9s ease-out;
}

.header-navigation__item:active {
  transform: scale(0.7);
  transition: all 0.9s ease-out;
}

.header-navigation__item--selected {
  color: #F06C64;
}

.sticky {
  position: fixed;
  top: 0;
  width: 1020px;
}

.slider {
  padding: 0 40px;
  height: 600px;
  background-color: #F06C64;
  border-bottom: solid 6px #EA676B;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-arrow-left,
.slider-arrow-right {
	transform: scale(1);
	margin-bottom: 8px;
}

.slider-arrow-left:hover,
.slider-arrow-right:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-out;
}

.slider-arrow-left:active,
.slider-arrow-right:active {
  transform: scale(0.8);
  transition: all 0.2s ease-out;
}

.slider-content {
  margin-top: -6px;
  min-width: 797px;
  min-height: 606px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-content__item {
  min-width: 240px;
  max-width: 484px;
}

.services {
  padding: 68px 40px 28px 41px;
  height: 500px;
  border-bottom: solid 6px #FFFFFF;
}

.services__title {
  font-family: 'Lato Black', Arial, sans-serif;
  line-height: 24px;
  font-size: 28px;
  letter-spacing: 0.1px;
  color: #666D89;
}

.services__text {
  padding-top: 22px;
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.2px;
  line-height: 31px;
  text-align: justify;
}

.services-icons {
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-icons__item {
  height: 86px;
  width: 299px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
}

.services-icons__logo {
  width: 56px;
  height: 59px;
}

.services-icons__info {
  margin-top: -10px;
}

.services-icons__info__title {
  padding-top: 10px;
  font-family: 'Lato Bold', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.15px;
  line-height: 17.86px;
  color: #666D89;
}

.services-icons__info__text {
  width: 220px;
  padding-top: 10px;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 12px;
	line-height: 21px;
	letter-spacing: -0.1px;
  text-align: justify;
}

.portfolio {
  height: 870px;
	background-color: #2d303a;
	padding: 66px 40px 67px 40px;
	overflow: hidden;
	border-bottom: solid 6px #323746;
}

.portfolio-header__title {
	font-family: 'Lato Black', Arial, sans-serif;
	font-size: 30px;
	line-height: 25.86px; 
	color: #666D89;
}

.portfolio-header__text {
	padding-top: 22px;
	font-family: 'Lato Light', Arial, sans-serif;
	color: #767e9e;
	font-size: 18px;
	letter-spacing: -0.22px;
	line-height: 32px;
	text-align: justify;
}

.portfolio-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: center;
	margin-top: 10px;
}

.portfolio-nav__button {
	height: 21px;
	display: block;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	outline: none;
	padding: 6px 7px 5px 8px;
	margin-bottom: 19px;
}

.portfolio-nav__button:nth-child(1) {
	margin-right: 10px;
	padding: 6px 7px 5px 8px;
}
.portfolio-nav__button:nth-child(2) {
	margin-right: 10px;
	padding: 6px 5px 5px 6px;
}
.portfolio-nav__button:nth-child(3) {
	margin-right: 10px;
	padding: 6px 5px 5px 6px;
}
.portfolio-nav__button:nth-child(4) {
	margin-right: 10px;
	padding: 6px 7px 5px 5px;
}
.portfolio-nav__button:hover {
	background-color: #6d7ca8;
	outline: none;
}
.portfolio-nav__button:active {
	filter: saturate(200%);
	outline: none;
}
.portfolio-nav__button__text {
	display: block;
	text-align: center;
	font-family: 'Lato Regular', Arial, sans-serif;
	color: #676f8d;
	font-size: 12px;
	font-weight: 400;
	line-height: 9px;
}
.portfolio-nav__button:hover .portfolio-nav__button__text {
	color: rgba(255, 255, 255, 0.623);
}

.portfolio-examples {
	overflow: hidden;
	height: 601px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;
}
.portfolio-examples__photo {
	display: block;
	grid-area: 1 / 1 / 1 / 1;
}

.about-us {
  height: 733px;
	padding: 66px 40px 67px 40px;
	border-bottom: solid 6px #FFFFFF;
}

.about-us__title {
	font-family: 'Lato Black', Arial, sans-serif;
	font-size: 30px;
	line-height: 25.86px; 
	color: #666D89;
	letter-spacing: -0.5px;
}
.about-us__text {
	padding-top: 22px;
	font-family: 'Lato Light', Arial, sans-serif;
	color: #767e9e;
	font-size: 18px;
	letter-spacing: -0.21px;
	line-height: 31px;
	text-align: justify;
}
.about-us-people {
	margin-top: 43px;
	display: flex;
	justify-content: space-between;
}
.about-us-people__item {
	width: 300px;
}
.about-us-people__item__userpic {
	margin-bottom: 13px;
}
.about-us-people__item__name {
	overflow: hidden;
	color: #666d89;
	font-family: 'Lato Black', Arial, sans-serif;
	font-size: 18px;
	letter-spacing: -0.4px;
	margin-bottom: 9px;
}
.about-us-people__item__text {
  font-family: 'Lato Bold', Arial, sans-serif;
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.2px;
  margin-bottom: 23px;
}
.about-us-people__item__social {
	height: 33px;
	width: 153px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.about-us-people__item__social__links a {
	display: block;
	width: 32px;
	height: 32px;
}
.about-us-people__item__social__links img:hover {
	background-color: #B2C1F0;
	border-radius: 50%;
}
.about-us-people__item__social__links img:active {
	filter: saturate(250%);
	border-radius: 50%;
}

.contact {
  height: 655px;
  background-color: #F06C64;
  padding: 68px 40px 13px 39px;
  border-bottom: solid 6px #EA676B;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
	justify-content: space-between;
	padding-top: 3px;
}

.contact__title {
  font-family: 'Lato Black', Arial, sans-serif;
  line-height: 22px; 
  color: #f0d8d9;
  font-size: 30px;
  letter-spacing: -0.6px;
}

.contact__text {
  padding-top: 25px;
  font-family: 'Lato Light', Arial, sans-serif;
  letter-spacing: -0.21px;
  text-align: justify;
  color: #f0d8d9;
  font-size: 18px;
  line-height: 30px;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: row;
}

.contact-form {
  width: 620px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form__input {
  padding-left: 14px;
  height: 38px;
  background-color: #d6564f;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.contact-form__input:focus {
  background-color: #a0443f;
}

.contact-form__input:focus::placeholder {
  background-color: #a0443f;
}

.contact-form__input--textarea {
  height: 202px;
  padding-top: 13px;
}

.contact-form__input::placeholder {
  background-color: #d6564f;
  color: #f48c8f;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.contact-form__input::placeholder:focus {
  background-color: #a0443f;
}

.contact-form__input:invalid {
  border: 2px solid #FF0800;
}

.contact-form__submit {
  margin: 0 auto;
  width: 200px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 13px;
  background-color: #F0D8D9;
}

.contact-form__submit:hover {
  background: #a0443f;
}

.contact-form__submit:active {
  background: rgb(148, 43, 37);
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  padding-left: 20px;
}

.contact-info__title {
  font-family: 'Lato Black', Arial, sans-serif;
  color: #f0d8d9;
  font-size: 19px;
  letter-spacing: -0.7px;
}

.contact-info__text {
  padding-top: 7px;
  font-family: 'Lato Regular', Arial, sans-serif;
  letter-spacing: -0.15px;
  color: #f0d8d9;
  font-size: 12px;
  line-height: 21.5px;
  text-align: justify;
}

.contact-info__links {
  padding-top: 22px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato Regular', Arial, sans-serif;
  letter-spacing: -0.2px;
  color: #f0d8d9;
  font-size: 12px;
  line-height: 22px;
}
.contact-info__links__item {
  position: relative;
}

.location:before {
  content: "";
  display: block;
  width: 7px;
  height: 11px;
  position: absolute;
  background-image: url(assets/images/location.png);
  top: 5px;
  left: -21px;
}

.call:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  background-image: url(assets/images/call.png);
  top: 4px;
  left: -23px;
}

.mail:before {
  content: "";
  display: block;
  width: 13px;
  height: 8px;
  position: absolute;
  background-image: url(assets/images/mail.png);
  top: 7px;
  left: -24px;
}

.footer { 
  height: 77px;
  background-color: #2D303A;
  padding: 21px 40px 21px 40px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer__copyright {
  color: #666D89;
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: -0.12px;
	align-self: center;
}

.footer__social-icons {
  height: 32px;
  width: 152px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__social-icons__social__links a {
  display: block;
  width: 32px;
  height: 32px;
}
.footer__social-icons__social__links img:hover {
  background-color: #B2C1F0;
  border-radius: 50%;
}
.footer__social-icons__social__links img:active {
  filter: saturate(250%);
  border-radius: 50%;
}